/* global */

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* title section */

#title {
  background-color: #FF4C68;
  color: white;
}

.title-section__container-fluid {
  padding: 3% 15% 7%;
}

.title-section__download-button-icon { /* title container download button apple / google play download button icon */
  padding-right: 0.5rem;
}

.navbar { /* bootstrap class for navbar */
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}


.title-section__call-to-action {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-section__column {
  position: relative;
}

.title-section__phone-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1027px) {
  .title-section__phone-image {
    text-align: center;
    position: static;
    transform: rotate(0deg);
  }
}

.title-section__download-button {
  margin: 5% 3% 5% 0;
}

/* features section */

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
}

.features-section__container-fluid {
  padding: 0;
  margin: 0;
}

.features-section__feature-box {
  text-align: center;
  padding: 5%;
}

.features-section__feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-section__feature-icon:hover {
  color: #ff4c68;
}

.features-section__feature-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}

.features-section__feature-text {
  color: #818181;
}

/* testimonials section */

.testimonials-section__testifier-portrait-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#testimonials {
  background-color: #ef8172;
  color: #ffffff;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */

.press-section__publication-logo {
  margin: 20px 20px 20px 50px;
  width: 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

/* pricing section */

#pricing {
  text-align: center;
  padding: 120px 100px;
}

.pricing-section__cards-container-fluid {
  padding: 60px 0;
}

.pricing-section__pricing-plan-card {
  margin: 0;
}

.pricing-section__pricing-plan-card-body {

}

.pricing-section__pricing-plan-card-button {
  width: 100%;
}

.pricing-section__pricing-plan-card-per-month-de-emphasis {
  color: #818181;
}

.pricing-section__pricing-plan-card-text {
  color: #818181;
}

.pricing-section_pricing-plan-name {
  font-weight: 700;
}

.pricing-section__pricing-plan-column {
  padding: 3% 2%;
}
